body, input{
    background-color: black;
    color: white;
    font-size: 30px;
    margin-left:20px;
    margin-top:100px;
}

body{
    text-align: center;
}

input{
    margin: 25px 0 0 5px;
    border: white solid 2px;
}

button{
    margin: 50px 0 0 0px;
    font-size: 30px;

}
#tabelaAnagramas{
    margin: auto;
}

table,tr,td{
    border:solid 1px white;
    font-size: 30px;
    text-align: center;
}

td{
    padding:10px;   
}